<%- include("partials/headerroom") -%>
<h1>chat Room</h1>
<div id="message-container">
<% for(var i=data.length-1;i>=0;i--){ %>
       <div class="msgdiv">
        <p ><%=data[i].author%> :</p>
        <h3><%=data[i].message%></h3>
        </div>
       <br/>
   
    <%}%>
</div>
<input id="sendmsgtext" type="text">

<input type="button" onclick="sendMessage()" id="sendmsgbtn" value="send">
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
<input type="text" id="AUTHOR"value="<%=author%>" hidden>

<%- include("partials/footerroom") -%>